* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background: #0B0B0B;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  min-height: 100svh;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
